* {
	margin:0px;
	padding:0px;
}

body {
	background-color:#1a3561;
	font-family: "Open Sans",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #1e5aa0;
    font-weight: 400;
    font-family: "Roboto Condensed",sans-serif;
    letter-spacing: .05rem;
	font-size:1rem;
}

.container {
	width:400px;
	margin:30px auto;
}

.text-center {
	text-align:center;
}

.content {
	margin: 15px 0px 10px 0px;
	background-color: #eceef1;
    border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.p-all-40 {
	padding:25px 30px 25px 40px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom:30px;
}

.my-icon-pen {
	font-size: 32px;
    margin-right: 5px;
    color: #fdc210;
    text-shadow: 1px 1px 0 #fff;
}

.login-title {
	font-size:32px;
	font-weight:400;
	color: #444;
}

.my-input {
	display: block;
    width: 298px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0px 8px 16px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #ccc;
}

.link-view {
	text-decoration:none;
}

.agree-text {
	font-size: 14px;
    color: #4d4d4d;
}

.i-agree-conditions {
	
}

.disp-block {
	display:block;
}

.register-btn {
	background-color: #1687d0;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color:white;
	font-size: 14px;
	font-weight: 400;
	padding: 9px 25px;
	outline: none;
	box-shadow: 0 -2px 0 rgba(0,0,0,.2)inset!important;
	-webkit-box-shadow: 0 -2px 0 rgba(0,0,0,.2)inset!important;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,.2)inset!important;
	cursor: pointer;
}

.register-btn:hover {
	background-color: #264372 !important;
}

.mr-5 {
	margin-right:5px;
}

.mb-40 {
	margin-bottom:40px;
}

.connect {
	font-size: 18px;
    margin-right: 20px;
    color: #333;
}

.link-to-social {
	text-decoration:none;
	margin-right:5px;
}

.prednosti-reg {
	 font-size: .875rem;
}

.btn-prijavi-se {
	display: block;
    color: #c3cedd;
    font-size: 14px;
    font-weight: 600;
    background-color: #6c7a8d;
	text-align:center;
	border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	padding:15px 0px;
	text-decoration:none;
}

footer {
	text-align: center;
    font-size: 11px;
	color:white;
}













